/* .isaque-dantas {}
.isaque-dantas-img {}
.isaque-dantas-img figure {}
.isaque-dantas-img figure img {}
.isaque-dantas h2 {}
.isaque-dantas .subtitulo {}
.isaque-dantas .descricao {}

.projetos-e-titulo {}
.projetos-e-titulo h2 {}
.projetos-e-titulo .projetos {}
.projetos-e-titulo .projetos .projeto {}
.projetos-e-titulo .projetos .projeto.destaque {}
.projeto figure {}
.projeto figure img {}
.projeto h2 {}
.projeto .descricao {}
.projeto.destaque .link-destaque {}
.projeto p:not(.descricao) {}
.projeto p:not(.descricao) a {} */

* {
    margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

body, section {
    background: #fafafa;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.container {
    margin: 90px auto 220px auto;
    width: 96%;
    max-width: 1000px;
    /* padding: 0 24px; */
}

.descricao {
    color: var(--neutras-prata-2, #77828C);
    line-height: 100%;
}

h2 {
    color: var(--neutras-aco, #273644);
}

/* Isaque Dantas */

.isaque-dantas {
    justify-content: space-between;
    gap: 3%
}

.isaque-dantas>div, .isaque-dantas figure, .projetos>div {
    border-radius: 6px;
    background: #fff;
}

.isaque-dantas-img, .projeto:not(.destaque) {
    width: 26%;
    min-width: 234px;
}

.isaque-dantas-img {
    justify-content: space-between;
}

.isaque-dantas-img figure {
    height: 240px;
    width: 240px;
    overflow: hidden;
    justify-content: center;
}

.isaque-dantas-img figure img {
    align-self: center;
    height: fit-content;
    width: 100%;
}

.isaque-dantas .textos {
    gap: 8px;
}

.isaque-dantas h2 {
    font-size: 24px;
    line-height: 100%;
}

.isaque-dantas .subtitulo {
    color: var(--neutras-prata-2, #77828C);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.isaque-dantas-biografia {
    width: 70%;
}

.isaque-dantas>div, .isaque-dantas-biografia, .projetos .projeto {
    padding: 16px;
    gap: 16px;
}

.isaque-dantas-biografia .texto-biografia {
    line-height: 140%;
}

/* Projetos */

.projetos-e-titulo {
    margin-top: 72px;
}

.linha-divisoria {
    border-top: 1px solid #D3DDE6;
    margin-top: 16px;
    margin-bottom: 26px;
}

.linha-divisoria:nth-child(3){
    margin-top: 106px;
}

.projetos-e-titulo h2 {
    line-height: 120%; /* 28.8px */
}

.projetos-e-titulo .projetos {
    flex-wrap: wrap;
    row-gap: 2vh;
    justify-content: space-between;
}

.projetos-e-titulo .projetos .projeto {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.projetos-e-titulo .projetos .projeto.destaque {
    border: 2px solid var(--Orange, #F2994A);
    width: 34%;
    min-width: 360px;
}

.projeto figure {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 6px;
}

.projeto figure img {
    width: 100%;
    height: auto;
    align-self: center;
}

.projeto .content {
    padding: 4px;
    gap: 8px;
}
.projeto h2 {
    font-size: 16px;
    line-height: 120%;
}

.projeto .destaque {
    justify-content: space-between;
}

.projeto p:not(.descricao) {
    margin-top: 4px;
}
.projeto a:not(.link-destaque) {
    color: var(--Blue-2, #2D9CDB);
    line-height: 100%; /* 16px */
}

.projeto.destaque .link-destaque {
    color: var(--Orange, #F2994A);
    text-align: right;
    line-height: 100%; /* 16px */
}

.info-web {
    align-self: center;
}
