* {
	margin: 0;
}

html {
	color: #35312B;
	min-width: 576px;
}

body {
	justify-content: center;
}

.flex {
	display: flex;
}

.content {
	font-family: 'Nunito', sans-serif;
	font-style: italic;
	margin-top: 16px;
	width: 95%;
	max-width: 1160px;
	height: 640px;

	background: #E7F3FF;
	border-radius: 24px;

	flex-direction: column;
	justify-content: space-between;

	position: relative;
}

.content > figure {
	position: absolute;
}

.yellow {
	top: 80px;
	left: 65%;
}

.violet {
	top: 220px;
	left: 108px;
}

.content > h1 {
	margin-top: 200px;
	max-width: 960px;
	width: 90%;
	font-size: 92px;
	font-weight: 400;
	line-height: 90%;
	letter-spacing: -3.654px;

	align-self: center;
	z-index: 1;
}

.content > h1 > div:nth-child(3) {
	text-align: center;
}

.content > h1 > div:nth-child(4) {
	text-align: right;
}

.met-setas {
	justify-content: space-between;
	flex-direction: column;
	width: 90%;
	margin-bottom: 32px;
	align-self: center;
	align-items: center;
}

.met {
	flex-direction: column;
	align-self: start;
}

.descricao-met {
	font-size: 22px;
	letter-spacing: -0.85px;
}

.logo-met {
	width: fit-content;
}

.setas {
	align-self: end;
	gap: 32px;
}

.setas img {
	width: 35px;
	height: 35px;
	overflow: hidden;
}

.hidden {
	display: none;
}

/* PÁGINA 2 */

.container {
	font-family: 'Inter', sans-serif;
	margin-top: 16px;
	width: 90%;
	max-width: 1200px;
	height: 640px;
	justify-content: space-between;
	align-items: center;
}

.texto {
	align-self: center;
	flex-direction: column;
	max-width: 540px;
	width: 54%;
	gap: 24px;
}

.texto > h1 {
	font-family: ABeeZee;
	font-size: 43.75px;
	font-style: italic;
	font-weight: 400;
	line-height: 120%;
}

.texto ol {
	margin-bottom: 48px;
}

.texto li, .texto p {
	font-size: 22px;
	line-height: 180%;
}

.figma {
	border-radius: 24px;
	max-width: 540px;
	width: 54%;
	height: 100%;
	background: #E7F3FF;
	position: relative;
	justify-content: center;
	align-content: center;
}

.figma .setas {
	position: absolute;
	bottom: 32px;
	right: 32px;
}

.figma > img {
	width: 168px;
	height: auto;
}

/* FIM - PÁGINA 2 */

/* PÁGINA 3 */

.community > img {
	width: 80%;
	height: fit-content;
	align-self: center;
}

/* FIM - PÁGINA 3 */

@media (min-width: 576px) and (max-width:1199px) {
	html, body {
		height: 100%;
	}

	span.hidden {
		display: inline;
	}
	
	div.hidden {
		display: inherit;
	}
	
	.shown {
		display: none;
	}

	.content {
		height: 95%;
	}

	.yellow {
		top: calc(clamp(60px, 20vw - 12vh, 80px) * 6 + 10vh);
		left: calc(60vw - 8vh);
	}
	.violet {
		top: 12%;
		left: 5%;
	}

	.content > h1 {
		margin-top: 20vh;
		font-size: clamp(60px, 20vw - 12vh, 80px);
		line-height: 120%;
		letter-spacing: 0;
	}

	.content > h1 > div:nth-child(n) {
		text-align: center;
	}

	.met-setas {
		gap: 32px;
	}

	.met {
		align-self: start;
	}

	.setas {
		align-self: end;
	}

	/* PÁGINA 2 */

	.container {
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		margin: 0;
	}

	.texto {
		width: clamp(342px, 72vw, 600px);
		height: fit-content;
	}

	.texto h1 {
		font-size: clamp(34px, 10vw - 4vh, 44px);
	}

	.texto li, .texto p {
		font-size: clamp(22px, 6vw - 2vh, 26px);
	}

	.texto, .figma {
		max-width: none;
	}

	.figma {
		width: clamp(342px, 72vw, 760px);
		height: clamp(342px, 30vw, 480px);
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}

	.container > .setas {
		align-self: center;
	}

	.figma img {
		width: 30%;
		max-width: 168px;
		height: auto;
	}

	/* PÁGINA 3 */

	.community > img {
		height: 80%;
		width: auto;
		max-width: none;
	}
}
