*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.body{
    background: #FAFAFA;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.container{
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 211px;
    margin-top: 90px;
}

.programador, .sobre{
    background-color: #FFF;
    
}

.programador p, .sobre p, .projetotxt p{
    color: #77828C;
}

.perfil{
    gap: 26px;
}

.programador{
    width: 234px;
    padding: 16px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.dados{
    gap: 8px;
}

.sobre{
    width: 637px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 16px;
    gap: 24px;
}

.bloco_projetos{
    gap: 26px;
    margin-bottom: 25px;
}

.prj_titulo{
    padding-bottom: 16px;
    border-bottom: 1px solid #D3DDE6;
    width: 967px;   
}

.projetos{
    gap: 26px;
    width: 967px;
}

.projetos1, .projetos2{
    justify-content: space-between;
}

.projeto_img{
    align-items: center;
    width: 238px;
    overflow: hidden;
    gap: 12px;
    border-radius: 5px;
}

img{
    border-radius: 10px;
}

.typo img, .pool img, .laranja img{
    height: 151px;
    width: 280px;
}

.laranja img{
    width: 341px;
}

.typo p, .laranja p{
    height: 36px;
}

.projeto{
    width: 238px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    background-color: #FFF;
    gap: 12px;
}

.projeto_dst{
    width: 341px;
    padding: 16px;
    border: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    background-color: #FFF;
    gap: 12px;
    border-radius: 5px;
    border: 2px solid var(--Orange, #F2994A);
}

.projetoinfo{
    gap: 16px;
}

.projetotxt{
    gap: 8px;
}

.projeto .projetotxt{
    width: 230px;
}

.link{
    color: #2D9CDB;
 }

 .destaque{
     color: #F2994A;
 }

 .dst_links{
     justify-content: space-between;
 }

 .bloco_curso{
     width: 967px;
     text-align: center;
 }

 .curso{
     padding-bottom: 16px;
     padding-top: 32px;
     border-top: 1px solid #D3DDE6;
     color: #828282;
 }