/*
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    background: #FAFAFA;
}

.foto_minha{
    width: 236px;
    height: 240px;
}

.tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eu{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    gap: 60px;
}

.info_1 p, main .projetos p{
    max-width: 700px;
    color: #77828C;
    font-size: 16px;
}

.info_1 h2, main h2{
    color: #273644;
    font-size: 24px;
    font-weight: 700;
}

.info_1{
    display: flex;
    width: 669px;
    height: 344px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.perfil{
    display: flex;
    width: 266px;
    height: 344px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.perfil, .info_1{
    border-radius: 5px;
    background: var(--neutras-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

main h2{
    padding-bottom: 16px;
}

.my_projects{
    width: 1057px;
    padding-top: 71px;
    border-bottom: 1px solid #D3DDE6;
}

main .projetos .tres_primeiros, main .projetos .tres_ultimos{
    display: flex;
    gap: 29px;
}

main .projetos{
    margin-top: 26px;
}

.blog{
    width: 266px;
}

.blog, .site, .portal, .tipografia{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    background: var(--neutras-white, #FFF);
}

.site{
    width: 270px;
}

.portal, .tipografia{
    width: 373px;
    border: 2px solid var(--Orange, #F2994A); 
}

main .projetos{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.destaque{
    color:#F2994A;
}

.baixo{
    border-top: 1px solid #D3DDE6;
    display: flex;
    width: 1057px;
    padding: 32px 0px 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 105px 0 211px 0;
}

.baixo p{
    color: var(--Gray-3, #828282);
    font-size: 16px;
}

.eu .perfil .info_pequena, main .projetos .sobre{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 4px;
    padding-left: 16px;
    gap: 8px;
}

.site.piscinas p{
    max-width: 200px;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 330px;
    padding-top: 12px;
}

.projetos img{
    border-radius: 5px;
}

.projetos .menor{
    width: 236px;
    height: 150px;
}

.projetos .maior{
    width: 341px;
    height: 150px;
}
*/
